<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alizhezi.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".base.AliZheZiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Demo"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 要想在别的App上能成功调起APP,必须添加过滤器 xl://goods:8888/goodsDetail?goodsId=10011002 -->

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>

                <!--
                    <data
                    android:host="goods"
                    android:path="/goodsDetail"
                    android:port="8888"
                    android:scheme="xl" />
                -->

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!--
                    &lt;!&ndash; 以下几行必须设计 &ndash;&gt;
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                -->
            </intent-filter>
        </activity>
        <activity android:name=".retrofit.OkhttpActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".butterknife.ButterKnifeActivity" />
        <activity android:name=".imageload.ImageLoadActivity" />
        <activity android:name=".leak.LeakCanaryActivity" />
        <activity
            android:name=".activity.DemoActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.BActivity" />
        <activity android:name=".view.CustomBaseActivity" />
        <activity android:name=".view.CustomViewActivity" />
        <activity android:name=".fragment.FragmentDemoActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".list.ListDemoActivity" />
        <activity android:name=".base.BaseTabActivity" />
        <activity android:name=".activity.MainStateActivity" />

        <service
            android:name=".service.AidlService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.alizhezi.demo.AidlService" />
            </intent-filter>
        </service>

        <activity android:name=".receiver.SendReceiverActivity"></activity>

        <receiver android:name=".receiver.NetworkStateReceiver">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME"></category>

            </intent-filter>


        </receiver>
    </application>

</manifest>